* {
	font-family: "Lucida Grande";
}

.center {
	text-align: center;
}

.row {
	height: 26px;
}

.column {
	border: 1px solid white;
	width: 24px;
	height: 24px;
	display: inline-block;
}

#startGame:hover {
	color: red;
	cursor: pointer;
}

#startGame {
	width: 120px;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
	background-color: black;
	color: white;
}

#gameContainer, #pastScores {
	width: 600px;
	float: left;
}

#title {
	font-family: 'Ubuntu', sans-serif;
}

#titleDiv {
	max-width: 100%;
	background-color: #96B01B;
	max-height: 4rem;
}